include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
recursive-include docs *
recursive-include packaging *
recursive-include scripts *
recursive-include tests *
global-exclude *.py[cod]
prune tests/__pycache__
prune tests/integration/__pycache__
prune tests/unit/__pycache__
